## Loading data into memory

In [2]:
from nilmtk import DataSet

iawe = DataSet('/data/iawe/iawe.h5')
elec = iawe.buildings[1].elec
elec

/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:92: DeprecationWarning: DisplayFormatter._ipython_display_formatter_default is deprecated: use @default decorator instead.
  def _ipython_display_formatter_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:98: DeprecationWarning: DisplayFormatter._formatters_default is deprecated: use @default decorator instead.
  def _formatters_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:669: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:672: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/Users/JH/anaconda2/envs/nilmtk-env/lib/python2.7/site-packages/IPython/core/formatters.py:677: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):

MeterGroup(meters=
  ElecMeter(instance=1, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=2, building=1, dataset='iAWE', site_meter, appliances=[])
  ElecMeter(instance=3, building=1, dataset='iAWE', appliances=[Appliance(type='fridge', instance=1)])
  ElecMeter(instance=4, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=1)])
  ElecMeter(instance=5, building=1, dataset='iAWE', appliances=[Appliance(type='air conditioner', instance=2)])
  ElecMeter(instance=6, building=1, dataset='iAWE', appliances=[Appliance(type='washing machine', instance=1)])
  ElecMeter(instance=7, building=1, dataset='iAWE', appliances=[Appliance(type='computer', instance=1)])
  ElecMeter(instance=8, building=1, dataset='iAWE', appliances=[Appliance(type='clothes iron', instance=1)])
  ElecMeter(instance=9, building=1, dataset='iAWE', appliances=[Appliance(type='unknown', instance=1)])
  ElecMeter(instance=10, building=1, dataset='iAWE', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=11, building=1, dataset='iAWE', appliances=[Appliance(type='wet appliance', instance=1)])
  ElecMeter(instance=12, building=1, dataset='iAWE', appliances=[Appliance(type='motor', instance=1)])
)

In [3]:
fridge = elec['fridge']
fridge.available_columns()

[('current', None),
 ('power', 'apparent'),
 ('frequency', None),
 ('voltage', None),
 ('power', 'active'),
 ('power factor', None),
 ('power', 'reactive')]

In [4]:
df = fridge.load().next()
df.head()

physical_quantity         current    power  frequency     voltage  power  \
type                              apparent                        active
2013-06-07 05:30:00+05:30   0.011    2.486  50.070000  235.070007  0.111
2013-06-07 05:30:01+05:30   0.011    2.555  50.080002  235.020004  0.200
2013-06-07 05:30:02+05:30   0.011    2.485  50.080002  234.979996  0.152
2013-06-07 05:30:03+05:30   0.010    2.449  50.060001  235.000000  0.159
2013-06-07 05:30:04+05:30   0.011    2.519  50.060001  234.949997  0.215

physical_quantity
type                      reactive
2013-06-07 05:30:00+05:30    2.483
2013-06-07 05:30:01+05:30    2.547
2013-06-07 05:30:02+05:30    2.480
2013-06-07 05:30:03+05:30    2.444
2013-06-07 05:30:04+05:30    2.510

In [5]:
series = fridge.power_series().next()
series.head()

2013-06-07 05:30:00+05:30    0.111
2013-06-07 05:30:01+05:30    0.200
2013-06-07 05:30:02+05:30    0.152
2013-06-07 05:30:03+05:30    0.159
2013-06-07 05:30:04+05:30    0.215
Name: (power, active), dtype: float32

In [6]:
series = fridge.power_series(ac_type='reactive').next()
series.head()

2013-06-07 05:30:00+05:30    2.483
2013-06-07 05:30:01+05:30    2.547
2013-06-07 05:30:02+05:30    2.480
2013-06-07 05:30:03+05:30    2.444
2013-06-07 05:30:04+05:30    2.510
Name: (power, reactive), dtype: float32

In [7]:
df = fridge.load(physical_quantity='power', ac_type='reactive').next()
df.head()

physical_quantity            power
type                      reactive
2013-06-07 05:30:00+05:30    2.483
2013-06-07 05:30:01+05:30    2.547
2013-06-07 05:30:02+05:30    2.480
2013-06-07 05:30:03+05:30    2.444
2013-06-07 05:30:04+05:30    2.510

In [8]:
df = fridge.load(physical_quantity='voltage').next()
df.head()

physical_quantity             voltage
type
2013-06-07 05:30:00+05:30  235.070007
2013-06-07 05:30:01+05:30  235.020004
2013-06-07 05:30:02+05:30  234.979996
2013-06-07 05:30:03+05:30  235.000000
2013-06-07 05:30:04+05:30  234.949997

In [9]:
df = fridge.load(physical_quantity = 'power').next()
df.head()

physical_quantity            power
type                      apparent active reactive
2013-06-07 05:30:00+05:30    2.486  0.111    2.483
2013-06-07 05:30:01+05:30    2.555  0.200    2.547
2013-06-07 05:30:02+05:30    2.485  0.152    2.480
2013-06-07 05:30:03+05:30    2.449  0.159    2.444
2013-06-07 05:30:04+05:30    2.519  0.215    2.510

In [10]:
df = fridge.load(ac_type = 'active').next()
df.head()

physical_quantity          power
type                      active
2013-06-07 05:30:00+05:30  0.111
2013-06-07 05:30:01+05:30  0.200
2013-06-07 05:30:02+05:30  0.152
2013-06-07 05:30:03+05:30  0.159
2013-06-07 05:30:04+05:30  0.215

In [11]:
# resample to minutely (i.e. with a sample period of 60 secs)
df = fridge.load(ac_type = 'active', sample_period=60).next()
df.head()

physical_quantity               power
type                           active
2013-06-07 05:30:00+05:30    0.157583
2013-06-07 05:31:00+05:30    0.160567
2013-06-07 05:32:00+05:30    0.158170
2013-06-07 05:33:00+05:30  105.332802
2013-06-07 05:34:00+05:30  120.265068